<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css"> <!-- Ensure this path is correct -->
</head>
<body>
    <h1>Edit the content page</h1>
    <p>Id of the user is: <%= post.id %></p>
    <p>Username of the user is: <%= post.username %></p>
    <form class="post" method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <input class="heading" type="text" placeholder="Enter your username" name="username" value="<%= post.username %>"><br><br>
        <textarea name="content" class="para"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>
